@model ProjetoDDD.MVC.ViewModels.ClienteViewModel

@{
    ViewBag.Title = "Sistema de Vendas - Deleção do Cliente";
    Layout = null;
}

<h2>Deletar Cliente</h2>

<h3 class="delete">Tem certeza que deseja deletar esse cliente?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="buttons-modal">
            <a href="#myModal" data-dismiss="modal"><img src="~/img/button/back.svg" class="icon" /></a>
            <input id="btnSubmit" type="image" src="~/img/button/delete-confirm.svg" class="icon" />
        </div>
    }
</div>
