@model ProjetoDDD.MVC.ViewModels.ClienteViewModel

@{
    ViewBag.Title = "Sistema de Vendas - Detalhes do Cliente";
    Layout = null;
}

<h2>Detalhes do Cliente</h2>

<div>
    <h4>Informações</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<div class="buttons-modal">
    <a href="#myModal" data-dismiss="modal"><img src="~/img/button/back.svg" class="icon" /></a>
</div>

